.drop-cap::first-letter {
    font-size: 3rem;
    float: left;
    line-height: 0.7;
    margin-right: 0.15em;
    color: #37517e;
}

.tmpltimg1 {
    width: 20rem;
    height: 10rem;
}

.img1{
    display: flex;
    justify-content: end;
}

.img2{
    display: flex;
    justify-content: start;
}
.tmpltimg2 {
    width: 100rem;
    height: 50rem;
}


.isikonten {
    font-size: 10px;
    font-weight: bold;
    /* Default untuk mobile */
}


@media (min-width: 768px) {
    .drop-cap::first-letter {
        font-size: 4rem;
    }

    .isikonten {
        font-size: 16px;
        font-weight: normal;
        /* Tablet */
    }

    .quote {
        font-size: 25px;
        font-weight: bold;
    }
}

@media (min-width: 992px) {
    .drop-cap::first-letter {
        font-size: 5rem;
        line-height: 0.8;
    }

    .isikonten {
        font-size: 19px;
        font-weight: normal;
        /* Desktop */
    }

    .quote {
        font-size: 30px;
        font-weight: bold;
    }

    .tmpltimg1 {
        width: 200rem;
        height: 30rem;
    }
    .tmpltimg2 {
        width: 200rem;
        height: 50rem;
    }
}